/* https://m2.material.io/design/color/the-color-system.html#tools-for-picking-colors */

.app-component {
  height: 100%;
  display: flex;
  flex-direction: column;
}

header,
main,
footer {
  padding-right: 1rem;
  padding-left : 1rem;
}

header,
footer {
  color: #fff;
  background: #ff0266;
}
header a, footer a {
  color: inherit;
  text-decoration: none;;
}
header a:hover, footer a:hover {
  text-decoration: underline;
}
header ul, footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
header li, footer li {
  display: inline-block;
  white-space: nowrap;
}
header  li:not(:last-child)::after, footer li:not(:last-child)::after {
  display: inline;
  content: "\00a0|\00a0";
  white-space: nowrap;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: calc(1.2rem * 3);
  display: grid;
  grid-template-columns: auto 1fr;
  white-space: nowrap;
  line-height: calc(1.2rem * 3);
}
header div {
  font-size: 1.2rem;
}
header ul {
  text-align: right;
}

main {
  padding-top   : calc(1.2rem * 3 + 1.2rem);
  padding-bottom: calc(1.2rem * 3 + 1.2rem);
}

.loading {
  color: #fbc02d;
  font-weight: bold;
}
.error {
  color: #e53935;
  font-weight: bold;
}
.info {
  color: #0091ea;
  font-weight: bold;
}

.button-toggle {
  border: 0;
  border-radius: 4px;
  padding: 0;
  color: #fff;
  white-space: nowrap;
  background: #ff0266;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
  cursor: pointer;
}
.button-toggle span {
  display: inline-block;
  padding: .5rem 1rem;
}
.button-toggle:hover {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
}
.button-toggle:hover span {
  background: rgba(255, 255, 255, .04);
}
.button-toggle:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12);
}
.button-toggle:active span {
  background: rgba(255, 255, 255, .12);
}

section {
  scroll-margin-top: calc(1.2rem * 3 + 1rem);
}
h1, p, ul, ol {
  margin-top: 0;
}
.language-icon {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: .5rem;
  margin-left : .2rem;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: calc(1rem * 3);
  text-align: right;
  line-height: calc(1rem * 3);
}
